[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
flask-jwt = "*"
black = "*"
pytest = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
